@font-face {
  font-family: 'AlHurra';
  src:url('/assets/fontface/AlHurra Font Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AlHurra';
  src: url('/assets/fontface/AlHurra Font Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'khaled';
  src: url('/assets/fontface/khaled.otf');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'nawar';
  src: url('/assets/fontface/khaled.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'israr';
  src: url('/assets/fontface/Israr-Syria.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



